<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nagy.mohamed.ardelkonouz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".offlineDatabase.ContentProviderDatabase"
            android:authorities="com.nagy.mohamed.ardelkonouz" />

        <activity
            android:name=".ui.ListScreens.ChildActivity"
            android:label="@string/title_activity_kid"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ProfileScreens.ChildProfileActivity"
            android:label="@string/title_activity_kid_profile"
            android:parentActivityName=".ui.ListScreens.ChildActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ListScreens.InstructorActivity"
            android:label="@string/title_activity_instructor"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ProfileScreens.InstructorProfileActivity"
            android:label="@string/title_activity_instructor_profile"
            android:parentActivityName=".ui.ListScreens.InstructorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ListScreens.EmployeeActivity"
            android:label="@string/title_activity_employee"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ProfileScreens.EmployeeProfileActivity"
            android:label="@string/title_activity_employee_profile"
            android:parentActivityName=".ui.ListScreens.EmployeeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ListScreens.CourseActivity"
            android:label="@string/title_activity_course_activty"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ProfileScreens.CourseProfileActivity"
            android:label="@string/title_activity_course_profile"
            android:parentActivityName=".ui.ListScreens.CourseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.InputScreens.ChildInputActivity"
            android:label="@string/title_activity_child_input"
            android:parentActivityName=".ui.ListScreens.ChildActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.FinanceActivity"
            android:label="@string/title_activity_finance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.InputScreens.InstructorInputActivity"
            android:label="@string/title_activity_instructor_input"
            android:parentActivityName=".ui.ListScreens.InstructorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.InputScreens.EmployeeInput"
            android:label="@string/title_activity_employee_input"
            android:parentActivityName=".ui.ListScreens.EmployeeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.InputScreens.CourseInputActivity"
            android:label="@string/title_activity_course_input"
            android:parentActivityName=".ui.ListScreens.CourseActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ProfileScreens.ConnectorsScreen.ChildCourseConnectorActivity"
            android:label="@string/title_activity_child_course_connector"
            android:parentActivityName=".ui.ListScreens.ChildActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ProfileScreens.ConnectorsScreen.InstructorCourseConnectorActivity"
            android:label="@string/title_activity_instructor_course_connector"
            android:parentActivityName=".ui.ListScreens.InstructorActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SalaryScreens.SalaryActivity"
            android:label="@string/title_activity_salary"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.SalaryScreens.InstructorSalaryActivity"
            android:label="@string/title_activity_instructor_salary"
            android:parentActivityName=".ui.SalaryScreens.SalaryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ListScreens.ShiftListActivity"
            android:label="@string/title_activity_shift_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>