<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nagy.mohamed.ardelkonouz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".offlineDatabase.ContentProviderDatabase"
            android:authorities="com.nagy.mohamed.ardelkonouz" />

        <activity
            android:name=".KidActivity"
            android:label="@string/title_activity_kid"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".KidProfileActivity"
            android:label="@string/title_activity_kid_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InstructorActivity"
            android:label="@string/title_activity_instructor"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InstructorProfileActivity"
            android:label="@string/title_activity_instructor_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmployeeActivity"
            android:label="@string/title_activity_employee"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EmployeeProfileActivity"
            android:label="@string/title_activity_employee_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CourseActivty"
            android:label="@string/title_activity_course_activty"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>